doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bingo-table.css')
    script(src='//code.jquery.com/jquery-1.11.1.js')
  body
    block content